<div class="card column">
    <div class="card-header">
        Backlog
    </div>
    <div class="card-body card-backlog">
      
    </div>
    <div class="card-footer">
        <button class="btn btn-outline-dark btn-backlog" type="button">Add</button>
    </div>
</div>
<div class="card column">
    <div class="card-header">
        Ready
    </div>
    <div class="card-body card-ready">
      
    </div>
    <div class="card-footer">
        <button class="btn btn-outline-dark btn-ready" type="button">Add</button>
    </div>
</div>
<div class="card column">
    <div class="card-header">
        In Progress
    </div>
    <div class="card-body card-progress">
      
    </div>
    <div class="card-footer">
        <button class="btn btn-outline-dark btn-progress" type="button">Add</button>
    </div>
</div>
<div class="card column">
    <div class="card-header">
        Fininshed
    </div>
    <div class="card-body card-finished">
      
    </div>
    <div class="card-footer">
        <button class="btn btn-outline-dark btn-finished" type="button">Add</button>
    </div>
</div>