<div class="card column">
    <div class="card-header">
        Users
    </div>
    <div class="card-body card-users">
      
    </div>
    <div class="card-footer">
        <button class="btn btn-outline-dark btn-users" type="button">Add</button>
    </div>
</div>
<div class="card column">
    <div class="card-header">
        Admins
    </div>
    <div class="card-body card-admins">
      
    </div>
    <div class="card-footer">
        <button class="btn btn-outline-dark btn-admins" type="button">Add</button>
    </div>
</div>